html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
/*去掉input等聚焦时的蓝色边框*/
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
// input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
 /*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以 */
img {border:0; vertical-align:middle; }
table { border-collapse:collapse; }
body {
    // color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {  /*清楚浮动*/
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}

a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}


html {
  font-size: 12px !important;
  // min-width: 1300px;
}

html {
  //min-width:1250px;
  //min-width:960px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  /*color: #2c3e50!important;*/
}

.layout {
  margin: 0 auto;
  width: 1000px;
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 14px !important;
  }
  .layout {
   width: 1200px;
  }
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

//这个是重新布局页面百分百的class
.smallPiece {
  width: 18.75%;
}

.contentPiece {
  width: 62.25%;
}

.__main {
  // width: 75.4%;
  min-width: 1000px;
  // max-width: 1920px;
  // margin: 0 auto;
}

a {
  text-decoration: none !important;
  outline: none;
}

.cursor {cursor: pointer;}

.custom_price {
  .el-input__inner {
    text-align: right;
    padding-left: 30px;
  }
}
// 私有样式
@import './private.scss';




// 浏览器默认样式
// ::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
// background-color:#f8f8f8;
// }
// ::-webkit-scrollbar {//滚动条的宽度
// width:9px;
// height:9px;
// }
// ::-webkit-scrollbar-thumb {//滚动条的设置
// background-color:#dddddd;
// background-clip:padding-box;
// min-height:28px;
// }
// ::-webkit-scrollbar-thumb:hover {
// background-color:#bbb;
// }





// 暂时废弃-因网站只有1000px和1400px尺寸，暂用不上多字体大小

// @media screen and (min-width:960px) {
//   html {
//     font-size: 13px !important;
//   }
// }

// @media screen and (min-width:1280px) {
//   html {
//     font-size: 13px !important;
//   }
// }

// @media screen and (min-width:1440px) {
//   html {
//     font-size: 14px !important;
//   }
// }

// @media screen and (min-width:1780px) {
//   html {
//     font-size: 15px !important;
//   }
// }
