.body {
  width: 100%;
  height: auto;
  position: relative;
}

.header {
  width: 100%;
  background: orange;
}
.container {
  margin: 0 auto;
  padding-bottom: 80px;
  background: #f4f4f4;
}
.footer {
  width: 100%;
}


