$main_color: #4b3f91;


.productpage-content {
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  background: white;
}

.footline {
  height: 6px;
  background: #4b3f91;
  // margin-bottom: 250px;
}

.bold {
  font-weight: bold;
}

.m10 {
  margin: 10px;
}

.mtb10 {
  margin: 10px 0;
}

.mtb20 {
  margin: 20px 0;
}

.mlr10 {
  margin: 0 10px;
}

.mlr20 {
  margin: 0 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}


.p10 {
  padding: 10px;
}

.plr10 {
  padding: 0 10px;
}

.plr20 {
  padding: 0 20px;
}

.ptb10 {
  padding: 10px 0;
}

.ptb20 {
  padding: 20px 0;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.bd1 {
  border: 1px solid #d2d2d2;
}

.contact-submit {
  float: right;
  height: 38px;
  border-radius: 8px;
  background-color: #4b3f91;
  color: #fff;
  font-size: 18px;
}

$--color-primary: #4b3f91;

.el-button--primary {
  color: #fff;
  background-color: #4b3f91;
  border-color: #4b3f91;
}

.el-button:hover {
  color: #4b3f91;
  border-color: #e7dffa;
  background-color: #eae6fe;
}

.el-button:focus {
  color: #4b3f91;
  border-color: #4b3f91;
  background-color: #eae6fe;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #4b3f91;
  border-color: #4b3f91;
}

.el-checkbox__inner:hover {
  border-color: #4b3f91;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #4b3f91;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #4b3f91;
  background: #4b3f91;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #4b3f91;
}
.el-radio__inner:hover{
  border-color: #4b3f91;

}
.el-input__inner:focus {
  border-color: #4b3f91;
}
.el-message{
  top: 60px;
}
.focusing{
  border: 0 !important;
}
span:focus{
  outline: none;
}
body html .crisp-client .crisp-1rjpbb7 .crisp-1rf4xdh .crisp-kquevr{
        display: none !important;
}