html,body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color:#333;
  background-color: #f4f3f8;
}
@media (min-width: 320px) {html {font-size: 13.65px;} .showcontent{    bottom: 100px;} }
@media (min-width: 360px) {html {font-size: 15.36px;} .showcontent{    bottom: 100px;}}
@media (min-width: 375px) {html {font-size: 16px;} .showcontent{    bottom: 145px;}}
@media (min-width: 414px) {html {font-size: 17.67px;} .showcontent{    bottom: 163px;}}
@media (min-width: 768px) {html {font-size: 32.77px;} .showcontent{    bottom: 220px;}}
@media (min-width: 1024px) {html {font-size: 43.7px;} .showcontent{    bottom: 220px;}}
@media (min-width: 1440px) {html {font-size: 61.44px;} .showcontent{    bottom: 220px;}}
.content {padding: 0 1rem;}
._fixed{
  margin-bottom: 4rem;
}
[v-cloak] {
  display: none;
}
a,
a:active
{
  color: #333;
}
a:hover{
  color: #452f7a;
}